@model Admin

@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<h2>Admin Registration</h2>

@using (Html.BeginForm("Register", "Admin"))
{
    @Html.ValidationSummary()
    <div class="mb-3">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.CNIC)
        @Html.TextBoxFor(m => m.CNIC, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
}