@using JobFairManagementSystem.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobFairManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobFairManagementSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex flex-nowrap">

        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="~/img/Asset 4.png" height="60px" />
            </a>
            <hr>
            @{
                var user = await UserManager.GetUserAsync(User);
                string role = null;
                if (user != null)
                {
                    var roles = await UserManager.GetRolesAsync(user);
                    role = roles[0];
                }
            }

            @if (role == UserRoles.AdminRole)
            {
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="Home" class="nav-link @(ViewBag.active == 0 ? "active": "link-body-emphasis")">
                            <i class="bi bi-house me-2"></i>Home
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Home" class="nav-link @(ViewBag.active == 1 ? "active": "link-body-emphasis")">
                            <i class="bi bi-speedometer2 me-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="VerifyCompanies" class="nav-link @(ViewBag.active == 2 ? "active": "link-body-emphasis")">
                            <i class="bi bi-building-check me-2"></i>Verify Companies
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="VerifyCandidates" class="nav-link @(ViewBag.active == 3 ? "active": "link-body-emphasis")">
                            <i class="bi bi-person-check me-2"></i>Verify Candidates
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-body-emphasis">
                            <i class="bi bi-bell me-2"></i>Open House Invitations
                        </a>
                    </li>
                </ul>
            }
            else if (role == UserRoles.CompanyRole)
            {
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a asp-controller="Company" asp-action="Home" class="nav-link @(ViewBag.active == 0 ? "active": "link-body-emphasis")">
                            <i class="bi bi-house me-2"></i>Home
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Company" asp-action="Home" class="nav-link @(ViewBag.active == 1 ? "active": "link-body-emphasis")">
                            <i class="bi bi-speedometer2 me-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Company" asp-action="Update" asp-route-id="@user?.Id" class="nav-link @(ViewBag.active == 2 ? "active": "link-body-emphasis")">
                            <i class="bi bi-building-check me-2"></i>Update Profile
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Company" asp-action="VerifyCandidates" class="nav-link @(ViewBag.active == 3 ? "active": "link-body-emphasis")">
                            <i class="bi bi-person-check me-2"></i>Verify Candidates
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-body-emphasis">
                            <i class="bi bi-bell me-2"></i>Open House Invitations
                        </a>
                    </li>
                </ul>
            }

            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a asp-controller="Account" asp-action="Logout" class="dropdown-item">Sign out</a></li>
                </ul>
            </div>
        </div>

        <div class="container py-4 bg-info">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>