@using System.Diagnostics
@using Microsoft.IdentityModel.Tokens
@model System.Collections.Generic.List<JobFairManagementSystem.Models.Notification>

@{
    ViewBag.Title = "Notifications";
    Layout = "_SideBarLayout";
    ViewBag.active = 10;

    List<Notification> notifications = [.. Model];
    notifications.Reverse();

}
<h3>Notifications</h3>

@foreach (var notification in notifications)
{
    <div class="card shadow mb-4 @(notification.IsRead ? "text-bg-dark" : "")">
        <div class="card-header d-flex">
            <div class="flex-grow-1">
                <a asp-action="MarkAsRead" asp-route-Id="@notification.Id" class="@(notification.IsRead ? "bi-envelope-open" : "bi-envelope")"></a>
            </div>
            <small class="text-secondary">@notification.CreatedAt.ToString("yy-MM-dd hh:mm tt")</small>
        </div>
        <div class="card-body">
            @notification.Message
        </div>
    </div>
}

@if (notifications.IsNullOrEmpty())
{
    <h3 class="text-warning">No Notifications Received</h3>
}
