@model JobFairManagementSystem.Data.CandidateUser

@{
    ViewBag.Title = "Update";
    Layout = "_SideBarLayout";

    List<string> genderOptions = ["Male", "Female", "Others"];
}

<h2>Update</h2>

@using (Html.BeginForm("Update", "Candidate"))
{
    @Html.ValidationSummary()
    <div class="mb-3">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.CNIC)
        @Html.TextBoxFor(m => m.CNIC, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Gender)
        @Html.DropDownListFor(m => m.Gender, new SelectList(genderOptions), "Select Gender", new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
}